<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
  <!-- DB connection -->
    <bean id="dbConnection" class="com.fintrust.db.DBConnection" factory-method="getConnection"/>

    <!-- DAO beans -->
    <bean id="userDao" class="com.fintrust.dao.impl.UserDAOImpl">
        <constructor-arg ref="dbConnection"/>
    </bean>
    
    <bean id="userDetailsDao" class="com.fintrust.dao.impl.UserDetailsDAOImpl">
        <constructor-arg ref="dbConnection"/>
    </bean>

    <!-- Service beans -->
    <bean id="userService" class="com.fintrust.service.UserServiceImpl">
        <property name="userDAO" ref="userDao"/>
        <property name="userDetailsDAO" ref="userDetailsDao"/>
    </bean>

    <!-- UserDetailsService for Spring Security -->
    <bean id="myUserDetailsService" class="com.fintrust.security.MyUserService">
        <property name="userService" ref="userService"/>
    </bean>

    <import resource="applicationContext-security.xml"/>

</beans>
	