<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">


    <!-- =============================
         HTTP SECURITY CONFIG
       ============================= -->
    <security:http auto-config="true">
    <security:csrf disabled="true"/>
    <!-- Custom Login Page -->
    <security:form-login 
        login-page="/user/login.zul"
        login-processing-url="/login"
        authentication-success-handler-ref="customAuthSuccessHandler"
        authentication-failure-url="/user/login.zul?error=true"
        username-parameter="username"
        password-parameter="password"/>

    <!-- Logout -->
   <security:logout 
    logout-url="/logout"
    logout-success-url="/user/login.zul?logout=true"
    invalidate-session="true"/>

    <!-- Pages that do NOT require login -->
    <security:intercept-url pattern="/zkau/**" access="permitAll"/>
    <security:intercept-url pattern="/user/login.zul" access="permitAll"/> 
    <security:intercept-url pattern="/user/signup.zul" access="permitAll"/>         
    <security:intercept-url pattern="/home.zul" access="permitAll"/>

    <!-- Protected Pages -->
    <security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')"/>
</security:http>


    <!-- =============================
         AUTHENTICATION MANAGER
       ============================= -->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailsService">
            <security:password-encoder ref="bcryptEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>


    <!-- BCrypt Password Encoder -->
    <bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans>
